{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Type of connection edit{% endblock %}

{% block content %}
<form action="{{ path('SwisscomMatrixConfigBundle_connection_type_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('SwisscomMatrixConfigBundle_connection_type_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}