{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Type of connection list{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Remark</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('SwisscomMatrixConfigBundle_connection_type_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.image }}</td>
            <td>{{ entity.remark }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}