{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Type of connection create{% endblock %}

{% block content %}
<form action="{{ path('SwisscomMatrixConfigBundle_connection_type_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}