{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Type of connection {{ entity.name }}{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ entity.image }}</td>
        </tr>
        <tr>
            <th>Remark</th>
            <td>{{ entity.remark }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_connection_type_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('SwisscomMatrixConfigBundle_connection_type_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}