{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}SBC Matrix ConfigGen{% endblock %}


{% block content %}
Welcome to the Swisscom Broadcast config generator

{% endblock %}