/* Texte */
h1
{
	font-size: 12px;
	color: #001155;
	font-weight: bold;
	padding-bottom:2px;
	margin-bottom: 0px;
	padding-left: 7px;
	padding-right: 0px;
}

 th, span, p , li, ul , ol
{
	font-size: 12px;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

td 
{
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 14px;
}

.tdpos 
{
	z-index: 1;
}

.noPadding
{
	padding-left: 0px;
	padding-right: 0px;
}

.listBullet
{
	list-style-image: url(../images/layout/ListBullet.gif);
	margin-left: 12px;
	padding-left: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}


.listNoBullet
{
	list-style-image: url(../images/layout/ListBulletNo.gif);
	margin-left: 12px;
	padding-left: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.listBulletPlus
{
	list-style-image: url(../images/layout/ListBulletPlus.gif);

}

.padding7
{
	padding: 7px 7px 0 7px;
}

.titleBg
{

	background-image: url(../images/layout/TitleBackground.gif);
	background-repeat: no-repeat;
	height: 28px;
}

.titleText
{
	color: #555555;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 4px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.titleBgHeader
{

	background-image: url(../images/layout/TitleBackground.gif);
	background-repeat: no-repeat;
	height: 28px;
	float: left;
	display: block;
	width: 685px;
}

.titleTextHeader
{
	color: #555555;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 4px;
	padding-top: 7px;
	display: block;
	
}

.ImgContainerHeader
{
	float: left;
	display: block;
	
}

.titleScLogin
{
	background-image: url(../images/layout/icon_key33.gif);
	background-repeat: no-repeat;
	margin-top: 7px;
	height: 33px;
}

.titleScLoginText
{
	color: #001155;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	padding-left: 46px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #001155;
}

.titleRegText
{
	color: #001155;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	padding-left: 7px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #001155;
}

.titleBold
{
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleBoldDarkGrey
{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleNavyBold
{
	font-size: 14px;
	font-weight: bold;
	color: #001155;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

a.titleNavyBold:link, a.titleNavyBold:visited, a.titleNavyBold:active
{
	text-decoration: none;
	color: #001155;	
}


a.titleNavyBold:hover
{
	text-decoration: none;
	color: #11aaff;	
}

.titleBlueBold12
{
	font-size: 12px;
	font-weight: bold;
	color: #11aaff;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleNavyBold12
{
	font-size: 12px;
	font-weight: bold;
	color: #001155;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleGreyBold12
{
	font-size: 12px;
	font-weight: bold;
	color: #666666;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleLightGreyBold12
{
	font-size: 12px;
	font-weight: bold;
	color: #BBBBBB;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.titleWhiteBold
{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.text
{
	font-size: 12px;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textUnderline
{
	font-size: 12px;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

/* spezielle klasse um den benutzernamen in der print-version auszublenden */
.textLogin
{
	font-size: 12px;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textBold
{
	font-size: 12px;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textNavy
{
	font-size: 12px;
	color: #001155;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textNavyBold
{
	font-size: 12px;
	color: #001155;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textBlue
{
	font-size: 12px;
	color: #11AAFF;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textBlueBold
{
	font-size: 12px;
	color: #11AAFF;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textRed
{
	font-size: 12px;
	color: #DD1122;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textRedBold
{
	font-size: 12px;
	color: #DD1122;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textBlack
{
	font-size: 12px;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textBlackBold
{
	font-size: 12px;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textBlackSmall {
	color:#000; 	
	font-size: 10px;		
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textBlackMedium {
	color:#000; 	
	font-size: 11px;		
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}
			
.textLightGrey
{
	font-size: 12px;
	color: #BBBBBB;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textLightGreyBold
{
	font-size: 12px;
	color: #BBBBBB;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textMidGrey
{
	font-size: 12px;
	color: #666666;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textMidGreyBold
{
	font-size: 12px;
	color: #666666;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textDarkGrey
{
	font-size: 12px;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.textDarkGreyBold
{
	font-size: 12px;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
}

.textWhite
{
	font-size: 12px;
	color: #ffffff;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

a.textWhite:link, a.textWhite:visited, a.textWhite:active
{
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;	
}

a.textWhite:hover
{
	text-decoration: none;
	font-size: 12px;
	color: #11AAFF;	
}

.textHrefGrey
{
	text-decoration: none;
	font-size: 12px;
	color: #555555;	
}

a.textHrefGrey:link, a.textHrefGrey:visited, a.textHrefGrey:active
{
	text-decoration: none;
	font-size: 12px;
	color: #555555;	
}

a.textHrefGrey:hover
{
	text-decoration: none;
	font-size: 12px;
	color: #11AAFF;	
}

.Arrow
{
	background: url(../images/layout/ArrowBlue.gif) left;
	background-repeat: no-repeat;
	padding-left: 12px;
	background-position: 0px 4px;
}

.textArrow
{
	background: url(../images/layout/ArrowBlue.gif) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 10px;
	font-size: 10px;
	color: #555555;	
}

a.textArrow:link, a.textArrow:visited, a.textArrow:active
{
	text-decoration: none;
	font-size: 12px;
	color: #555555;	
}


a.textArrow:hover
{
	text-decoration: none;
	font-size: 12px;
	color: #11aaff;	
}

.textArrowWhite
{
	background: url(../images/layout/ArrowBlue.png) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 10px;
	font-size: 12px;
	color: #FFFFFF;	
}

a.textArrowWhite:link, a.textArrowWhite:visited, a.textArrowWhite:active
{
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;	
}

a.textArrowWhite:hover
{
	text-decoration: none;
	font-size: 12px;
	color: #11AAFF;	
}

.textDetails
{
	background: url(../images/layout/icon_details.gif) right;
	background-repeat: no-repeat;
	height: auto;
	padding-right: 17px;
	font-size: 12px;
}

.textPrint
{
	background: url(../images/layout/icon_print.gif) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 20px;
	font-size: 12px;
}

.textExport
{
	background: url(../images/layout/icon_export.gif) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 20px;
	font-size: 12px;
}

.textExport
{
	background: url(../images/layout/icon_export.gif) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 20px;
	font-size: 12px;
}

.textClose
{
	background: url(../images/layout/icon_close.gif) left;
	background-repeat: no-repeat;
	height: auto;
	padding-left: 15px;
	font-size: 12px;
}

.textError
{
	background: url(../images/layout/CriticalAdviceShort.gif);
	background-repeat: no-repeat;
	height: 21px;
	padding-left: 30px;
	font-size: 12px;
	color: #DD1122;
	padding-top: 3px;
}

.layerClose {
	background-image: url(../images/layout/Close_X_normal.gif);
	background-repeat: no-repeat;
	margin-top: 3px;
	position:absolute;
	right: 2px;
	top: 2px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.layerCloseHover {
	background-image: url(../images/layout/Close_X_over.gif);
	background-repeat: no-repeat;
	margin-top: 3px;
	position:absolute;
	right: 2px;
	top: 2px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.iconClose {
	background-image: url(../images/layout/Close_X_normal.gif);
	background-repeat: no-repeat;
	padding-right: 22px;
	padding-bottom: 6px;
}

.iconCloseHover {
	background-image: url(../images/layout/Close_X_over.gif);
	background-repeat: no-repeat;
	padding-right: 22px;
	padding-bottom: 6px;
}

a, a:link, a:visited, a:hover, a:active
{
	color: #11aaff;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

a:hover
{
	text-decoration: underline;
}

.imgborder
{
	border: 1px solid #BBBBBB;
}

/* backgrounds */

.bg1 {
	background: #f5f5f5;
}

.bg2 {
	background: #E1E1E1;
}

.bg3{
	background: #BBB;
	}
	
.bg4{
	background: #CCEEFF;
	}

.bg1Lines {
	background-color: #f5f5f5;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
}

.lineTop {
	border-top: 1px solid #bbbbbb;
}

.notePad  {
		height: 74px;
		width: 200px;
		background-image: url(../images/layout/notePad.gif);
		background-repeat: no-repeat;
		z-index: 2;
		position: absolute;
		left: 350px;
	}
	
.notePadFlex  {
		width: 150px;
		background-color: #f5f5f5;
		border: 1px solid #bbbbbb;
		z-index: 2;
		position: absolute;
		left: 350px;
	}
	
.notePadFlex  {
		width: 150px;
		background-color: #f5f5f5;
		border: 1px solid #bbbbbb;
		z-index: 2;
		position: absolute;
		left: 350px;
	}
	
.textNotePad {
		font-size: 12px;
		color: #555555;
		font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
		padding-left: 5px;
		padding-top: 5px;
}

/* Formular */

.buttonShortNext {
	background: url(../images/layout/ButtonShortNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 72px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonShortNextOver {
	background: url(../images/layout/ButtonShortNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 72px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonNext {
	background: url(../images/layout/ButtonNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonNextOver {
	background: url(../images/layout/ButtonNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonCancel {
	background: url(../images/layout/ButtonCancel.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonCancelOver {
	background: url(../images/layout/ButtonCancelOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonBack {
	background: url(../images/layout/ButtonBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonBackOver {
	background: url(../images/layout/ButtonBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 100px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonShortBack {
	background: url(../images/layout/ButtonShortBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 72px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonShortBackOver {
	background: url(../images/layout/ButtonShortBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 72px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonMediumNext {
	background: url(../images/layout/ButtonMediumNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonMediumNextOver {
	background: url(../images/layout/ButtonMediumNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonMediumCancel{
	background: url(../images/layout/ButtonMediumCancel.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonMediumCancelOver {
	background: url(../images/layout/ButtonMediumCancelOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonMediumBack {
	background: url(../images/layout/ButtonMediumBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonMediumBackOver {
	background: url(../images/layout/ButtonMediumBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonLongNext {
	background: url(../images/layout/ButtonLongNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 180px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonLongNextOver {
	background: url(../images/layout/ButtonLongNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 180px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonLongBack {
	background: url(../images/layout/ButtonLongBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 180px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonLongBackOver {
	background: url(../images/layout/ButtonLongBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 180px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonXLongNext {
	background: url(../images/layout/ButtonXLongNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 200px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonXLongNextOver {
	background: url(../images/layout/ButtonXLongNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 200px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonXLongBack {
	background: url(../images/layout/ButtonXLongBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 200px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonXLongBackOver {
	background: url(../images/layout/ButtonXLongBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 200px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonXXLongNext {
	background: url(../images/layout/ButtonXXLongNext.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 250px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonXXLongNextOver {
	background: url(../images/layout/ButtonXXLongNextOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 250px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonXXLongBack {
	background: url(../images/layout/ButtonXXLongBack.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 250px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonXXLongBackOver {
	background: url(../images/layout/ButtonXXLongBackOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 250px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 15px;
	margin-left: 2px;
}

.buttonNeutral {
	background: url(../images/layout/ButtonNeutral.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 90px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: center;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonNeutralOver {
	background: url(../images/layout/ButtonNeutralOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 90px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: center;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonMediumNeutral {
	background: url(../images/layout/ButtonMediumNeutral.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: center;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

.buttonMediumNeutralOver {
	background: url(../images/layout/ButtonMediumNeutralOver.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 155px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: center;
	padding: 0 10px 0 10px;
	margin-left: 2px;
}

/* Border Button*/

.buttonBorderShortNext {
	background: url(../images/layout/ButtonBorderShortNext.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 73px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 5px 2px 5px;
	margin-right: 3px;
}

.buttonBorderShortNextOver {
	background: url(../images/layout/ButtonBorderShortNextOver.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 73px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 5px 2px 5px;
	margin-right: 3px;
}

.buttonBorderShortBack {
	background: url(../images/layout/ButtonBorderShortBack.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 73px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #555555;
	text-align: left;
	padding: 0 10px 0 17px;
	margin-left: 2px;
}

.buttonBorderShortBackOver {
	background: url(../images/layout/ButtonBorderShortBackOver.png);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 73px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	height: 18px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 17px;
	margin-left: 2px;
}

/* eckige Buttons dyn. Breite */
.buttonSquareNext {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/layout/buttonSquareNext.png) no-repeat scroll right top;
	cursor:pointer;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-right:23px;
	text-decoration:none;
	color:#555555;
	}
	.buttonSquareNext ins {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/layout/buttonSquareNext.png) no-repeat scroll left top;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-left:23px;
	text-decoration:none;
	color:#555555;
	}
	
	a.buttonSquareNext:hover {
	background-position:right -164px;
	text-decoration:none;
	color:#FFFFFF;
	}
	a.buttonSquareNext:hover ins {
	background-position:left -164px;
	text-decoration:none;
	color:#FFFFFF;
	}
	
	
.buttonSquarePrint {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/layout/buttonSquarePrint.png) no-repeat scroll right top;
	cursor:pointer;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-right:23px;
	text-decoration:none;
	color:#555555;
	}
	.buttonSquarePrint ins {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/layout/buttonSquarePrint.png) no-repeat scroll left top;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-left:23px;
	text-decoration:none;
	color:#555555;
	}
	
	a.buttonSquarePrint:hover {
	background-position:right -164px;
	text-decoration:none;
	color:#FFFFFF;
	}
	a.buttonSquarePrint:hover ins {
	background-position:left -164px;
	text-decoration:none;
	color:#FFFFFF;
	}
	
.field {
  height: 19px;
  border: 1px solid #999999;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #000000;
  padding-left: 2px;
}

.fieldError {
  height: 19px;
  border: 1px solid #DD1122;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #DD1122;
  padding-left: 2px;
}

.fieldNormal {
  width: 151px;
  height: 19px;
  border: 1px solid #999999;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #000000;
  padding-left: 2px;
}

.fieldNormalItalic {
  width: 151px;
  height: 19px;
  border: 1px solid #999999;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-size: 1em;
  color: #bbbbbb;
  padding-left: 2px;
}

.fieldNormalError {
  width: 151px;
  height: 19px;
  border: 1px solid #DD1122;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #DD1122;
  padding-left: 2px;
}


.fieldLong {
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  width: 196px;
  height: 19px;
  border: 1px solid #999999;
  font-size: 1em;
  color: #000000;
  padding-left: 2px;
}

.fieldLongItalic {
  width: 196px;
  height: 19px;
  border: 1px solid #999999;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-size: 1em;
  color: #bbbbbb;
  padding-left: 2px;
}

.fieldLongError {
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  width: 196px;
  height: 19px;
  border: 1px solid #DD1122;
  font-size: 1em;
  color: #DD1122;
  padding-left: 2px;
}

.fieldXLong {
  width: 350px;
  height: 19px;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #000000;
  border: 1px solid #999999;
  padding-left: 2px;
}

.fieldXLongError {
  width: 350px;
  height: 19px;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #DD1122;
  border: 1px solid #DD1122;
  padding-left: 2px;
}

.fieldZIP  {
  width: 41px;
  height: 19px;
  border: 1px solid #999999;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #000000;
  padding-left: 2px;
}

.fieldZIPError  {
  width: 41px;
  height: 19px;
  border: 1px solid #DD1122;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  color: #DD1122;
  padding-left: 2px;
}

.fieldCity {
	width: 106px;
	height: 19px;
	border: 1px solid #999999;
	font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  	font-size: 1em;
 	color: #000000;
	padding-left: 2px;
}

.fieldCityError {
	width: 106px;
	height: 19px;
	border: 1px solid #DD1122;
	font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  	font-size: 1em;
 	color: #DD1122;
	padding-left: 2px;
}

.formSelect {
  height: 19px;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  font-size: 12px;
  color: #000000;
  border: 1px solid #999999;
}

.formSelectError {
  width: 151px;
  height: 19px;
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  font-size: 12px;
  color: #DD1122;
  border: 1px solid #DD1122;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;

}


/* Formelements Round Drop-Down                                            */
/* Textfield */
.textfield_end { background:no-repeat url(../images/layout/textfield_end_line.png) left center; float:left; padding:0 10px 0 10px; height:20px; line-height:20px; width:10px; margin:0; }

* html body .textfield_end { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod='fixed',src='../images/layout/textfield_end_line.png'); }

/* dropdown */
.selectfield { float:left; width:180px; }
.selectfield .selectfield_start { width:10px; height:20px; background: no-repeat url(../images/layout/textfield_bg.png); float:left; line-height:20px; }
* html body .selectfield_start { background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod='fixed',src='../images/layout/textfield_bg.png'); }

.selectfield .selectfield_border { background-color:#fff; height:18px; float:left; border-top:1px solid #a6a6a4; border-bottom:1px solid #a6a6a4; }
.selectfield .selectfield_border .selectfield_hide { height:17px; float:left; margin:1px 0;}
.selectfield .selectfield_border .selectfield_hide2 { height:17px; overflow:hidden; float:left; margin:-2px, 0 -2px 0;}
.selectfield .selectfield_border .selectfield_hide select { border:none; height:13px;}	
* html body .selectfield .selectfield_border .selectfield_hide select { margin:0 -2px 0 -2px; }	
body:first-of-type .selectfield .selectfield_border .selectfield_hide select { height:17px; }

/* Safari */	
html:first-child>b\ody .selectfield .selectfield_border .selectfield_hide select { height:17px; position:relative; z-index:1; }

.formSelectRound
{
	font-size: 11px;
	color: #888888;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

textarea, .textarea {
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #555555;
  padding-left: 2px;
  text-align: left;
  border: 1px solid #888888;
}

.textareaError {
  font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #DD1122;
  padding-left: 2px;
  text-align: left;
  border: 1px solid #888888;
}

.textareaBox {
 	font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #555555;
 	width: 570px;
 	height: 150px;
 	border: 1px solid #888888;
	margin: 2px;
 	overflow: scroll;
	overflow-x: hidden;
	padding: 3px;
 }
 
/* input fileds rund SC-Login*/

*:focus  {  
    outline: none;  
}

.fieldRoundSmall {
	background: no-repeat url(../images/layout/fieldRoundSmall.gif) left;
	width: 61px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundSmall input { 
	font-size: 12px;
	color: #555555;
	width:54px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundMedium {
	background: no-repeat url(../images/layout/fieldRoundMedium.gif) left;
	width: 200px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundMedium input { 
	font-size: 12px;
	color: #555555;
	width:195px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundZIP {
	background: no-repeat url(../images/layout/fieldRoundZip.gif) left;
	width: 40px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundZIP input { 
	font-size: 12px;
	color: #555555;
	width:33px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundCity {
	background: no-repeat url(../images/layout/fieldRoundCity.gif) left;
	width: 111px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundCity input { 
	font-size: 12px;
	color: #555555;
	width:105px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundNormal {
	background: no-repeat url(../images/layout/fieldRoundNormal.gif) left;
	width: 155px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundNormal input { 
	font-size: 12px;
	color: #555555;
	width:149px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundXXLong {
	background: no-repeat url(../images/layout/fieldRoundXXLong.gif) left;
	width: 350px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}

.fieldRoundXXLong input { 
	font-size: 12px;
	color: #555555;
	width:343px;
	height: 19px;
	background:0;
	border:0;
	margin:0;
	position:relative;
	z-index:900;	      
}

.fieldRoundLoginPng[class] {
	background: no-repeat url(../images/layout/fieldRoundLogin.png);
	width: 197px;
	height: 22px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}
/*workaround fuer IE6*/
.fieldRoundLoginPng {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='fixed',src='../images/layout/fieldRoundLogin.png');
	width: 197px;
	height: 22px;
	float: left;
	font-size: 12px;
	padding: 3px 0 0 3px;
}
	

.fieldRoundLoginPng input { 
	font-size: 12px;
	color: #555555;
	width:190px;
	height: 22px;
	background:0;
	border:0;
	margin:0;
	padding-left: 3px;
	position:relative;
	z-index:900;	      
}

/* Class disabled Mozilla u.a.*/

input[disabled] {
	/*background-color: #d9d8d8; */
	color: #888888;
	border-color: #888888;
}

/* Class disabled IE */
input.disabled, .dis 
{
	background-color: #d9d8d8;
	color: #888888;
	border-color: #888888;
	font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif;
	text-align: left;
	padding: 0 10px 0 10px;
	padding-left: 2px;
}

/* Class disabled Buttons */

buttonNext[disabled], buttonNeutral[disabled], buttonShortNext[disabled], buttonShortBack[disabled], buttonBack[disabled], buttonCancel[disabled],
buttonMediumNext[disabled], buttonMediumBack[disabled], buttonMediumCancel[disabled], buttonLongNext[disabled], buttonLongBack[disabled], 
buttonXLongNext[disabled], buttonXLongBack[disabled], buttonXXLongNext[disabled], buttonXXLongBack[disabled]  {
	cursor: default;	
}

/* Class disabled IE */
buttonNext.disabled, .buttonNext, buttonNeutral.disabled, .buttonNeutral, buttonShortNext.disabled, .buttonShortNext, buttonShortBack.disabled, .buttonShortBack,
buttonBack.disabled, .buttonBack, buttonCancel.disabled, .buttonCancel, buttonMediumNext.disabled, .buttonMediumNext, buttonMediumBack.disabled, .buttonMediumBack,
buttonMediumCancel.disabled, .buttonMediumCancel, buttonLongNext.disabled, .buttonLongNext, buttonLongBack.disabled, .buttonLongBack, buttonXLongNext.disabled, 
.buttonXLongNext, buttonXLongBack.disabled, .buttonXLongBack, buttonXXLongNext.disabled, .buttonXXLongNext, buttonXXLongBack.disabled, .buttonXXLongBack   {
	cursor: default;	
}


/*--- Hinweise--*/

.adviceShort
{
	background: url(../images/layout/CriticalAdviceShortOriginal.gif);
	background-repeat: no-repeat;
	padding-left: 25px;
	vertical-align: top;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-left: 7px;
	height: 20px;
}

.adviceText
{
	font-size: 12px;
	color: #DD1122;
	padding-left: 3px;
	padding-bottom: 8px;
	margin-bottom: 5px;
	margin-top: -4px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	vertical-align: top;
	display: inline;
	width: 98%;
	float: left;
	border-left: 1px solid #888888;
}


.informationShort
{
	background: url(../images/layout/InformationShortOriginal.gif);
	background-repeat: no-repeat;
	padding-left: 25px;
	vertical-align: top;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-left: 7px;
	height: 20px;
}

.informationText
{
	font-size: 12px;
	color: #001155;
	padding-left: 3px;
	padding-bottom: 8px;
	margin-bottom: 5px;
	margin-top: -4px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	vertical-align: top;
	display: inline;
	width: 98%;
	float: left;
	border-left: 1px solid #888888;
}

/* Tabellen */

.tableLine {
	border-bottom: 1px solid #001155;
	padding-bottom: 5px;
	margin-top: 5px;
}

.tableLineAround {
	border: 1px solid #888888;
}

.tableLineLRB {
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.line {
	height: 22px;
	border-bottom: 1px solid #bbbbbb;
}

.lineSeparator {
	width: 100%;
	display: block;
	border-bottom: 1px solid #bbbbbb;
	margin-top: -5px;
}

.lineNavy {
	border-bottom: 1px solid #001155;
}

/*Steps*/
.stepActive { 
	color: #ffffff;	 
	font-weight: bold;
	background: url(../images/layout/stepActive.gif) no-repeat center;
	width: 18px;
	height: 18px;
	padding: 0 5px 0 5px;
	margin: 0;
}

.stepInActive { 
	color: #555555;	 
	font-weight: bold;
	padding: 0 5px 0 5px;
	margin: 0;
}

/* Contenboxen*/

.contentBoxRight
{
	background: url(../images/layout/ContentBoxRight.gif) right;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 161px;
	width: 342px;
}

.contentBoxLeft
{
	background: url(../images/layout/ContentBoxLeft.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 161px;
	width: 342px;
}

.contentBoxRightSmall
{
	background: url(../images/layout/ContentBoxRightSmall.gif) right;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 105px;
	width: 335px;
	float: right;
	padding-bottom: 10px;
}

.contentBoxLeftSmall
{
	background: url(../images/layout/ContentBoxLeftSmall.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 105px;
	width: 335px;
	float: left;
	padding-bottom: 10px;
}

.contentBoxDouble
{
	background: url(../images/layout/ContentBoxDouble.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 105px;
	width: 670px;
	float: left;
	padding-bottom: 10px;
}

.contentBoxDoubleMedium
{
	background: url(../images/layout/ContentBoxDoubleMedium.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 150px;
	width: 670px;
	float: left;
	padding-bottom: 10px;
}

.contentBoxRightMedium
{
	background: url(../images/layout/ContentBoxRightMedium.gif) right;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 161px;
	width: 335px;
	float: right;
	padding-bottom: 10px;
}

.contentBoxLeftMedium
{
	background: url(../images/layout/ContentBoxLeftMedium.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 161px;
	width: 335px;
	float: left;
	padding-bottom: 10px;
}

.contentBoxRightLarge
{
	background: url(../images/layout/ContentBoxRightLarge.gif) right;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 180px;
	width: 335px;
	float: right;
	padding-bottom: 10px;
}

.contentBoxLeftLarge
{
	background: url(../images/layout/ContentBoxLeftLarge.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 180px;
	width: 335px;
	float: left;
	padding-bottom: 10px;
}


.boxBackground
{
	background: url(../images/layout/BoxBackground.gif) left;
	background-repeat: no-repeat;
	vertical-align: top;
	height: 112px;
	width: 322px;
}

/*Tab-Navigation*/

span.TabMiddleUnselected, span.TabSelected
{
	float:left;
	text-align: center;
	min-height: 29px;
	padding-top:9px;
}

span.TabMiddleUnselected
{
	background-image: url(../images/layout/TabMiddle.gif);
	background-repeat: repeat-x;
	height: 29px; 
}

span.TabSelected
{
	margin-left: 5px;
	margin-right: 5px;
}

span.TabImageLeft, span.TabImageRight, span.TabImageSeparatorRight
{
	display:inline;
	float:left;
	height:29px;
}

span.TabImageLeft
{
	background: transparent url(../images/layout/TabLeft.gif) repeat-x scroll left top;
	width:10px;
	height: 29px; 
}

span.TabImageRight
{
	background: transparent url(../images/layout/TabRight.gif) repeat-x scroll left top;
	width:10px;
	height: 29px; 
}

span.TabImageSeparatorRight
{
	background: transparent url(../images/layout/TabSeparatorRight.gif) repeat-x scroll left top;
	width: 4px;
	height: 29px; 
}

.tabText
{
	margin-left: 4px;
	margin-right: 4px;
	font-size: 14px;
	color: #555555;
	cursor: pointer;
	padding-bottom: 3px;
}

a.tabTextActive:link, a.tabTextActive:visited, a.tabTextActive:active, a.tabTextActive:hover
{
	margin-left: 4px;
	margin-right: 4px;
	font-size: 14px;
	text-decoration: none;
	color: #001155;
	padding-left: 1px;
	padding-bottom: 3px;
	line-height: 20px;
} 

a.tabText:link, a.tabText:visited, a.tabText:active
{
	margin-left: 4px;
	margin-right: 4px;
	font-size: 14px;
	text-decoration: none;
	color: #555555;
	padding-bottom: 3px;
} 

 a.tabText:hover
 {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 14px;
	text-decoration: none;
	color: #11AAFF;
	padding-bottom: 3px;
}

/*Layer*/

.layerContentBoxTop {
	/*margin: auto;*/
	width: 674px;
}

.layerBgTitel {
	background-image: url(../images/layout/layerBgTitel.png);
	background-repeat: no-repeat;
	width:674px;
	height: 30px;
}

.layerTitelInfo {
	font-size: 13px ;
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	padding-left: 19px;
	padding-top: 5px;
}

.layerContentBox {
	float: left; 
	display: inline;
	background-color: #FFFFFF;
	width: 674px;
}

.layerContent {
	width: 577px;
	float: left; 
	margin-left: 45px;
}

.layerTitleNavy {
	color: #001155;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.layerText {
	color: #555555;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	padding-left: 10px;
}

.layerTitleBox {
	background: #CCEEFF;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color: #001155;
	font-size: 12px;
	padding-left: 7px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.containerLayerButtons {
	width: 583px;
	height: 68px;
	margin-top: 15px; /*Abstand zur grauer Linie 15px*/
}

.layerBtnLeft {
	width: 390px;
	float: left;
}

.layerBtnRight {
	width: 159px;
	float: right;
}
/* end Layer */

/*START Login*/
.loginBar {
	background-image: url(../images/layout/LoginBarMiddle.png);
	background-repeat: repeat-x;
	height:29px;
	width:671px; 
	margin:1px 0 0px 7px; 
}

.LoginFirstTabUnselected
{
	width:7px;
	height:29px;
	float:left;
}

.LoginFirstTabSelected
{
	background-color:#FFFFFF;
	width:7px;
	height:29px;
	float:left;
}


.LoginTabUnselected
{
	background-image: url(../images/layout/keyInactive.png);
	background-repeat: no-repeat;
	padding:11px 5px 2px 23px;
	min-width:23px;
	float:left;
	min-height:20px;
	cursor: pointer;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color:#555555;
}

.LoginTabOver
	{
	background-image: url(../images/layout/keyOver.png);
	background-repeat: no-repeat;
	padding:11px 5px 2px 23px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	min-width:23px;
	min-height:20px;
	cursor: pointer;
	color:#11aaff;
	text-decoration:none !important;
	float:left;
	}

.LoginTabSelected
{
	background-image: url(../images/layout/keyActive.png);
	background-repeat: no-repeat;
	background-color:#FFFFFF;
	padding:11px 15px 4px 33px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color:#001155;
	width:auto;
	float:left;
}

.LoginTabImageLeft
{
	background-image: url(../images/layout/LoginTabLeft.png); 
	height:29px;
	width:10px;
	float:left;
}
.LoginTabImageRight
{
	background-image: url(../images/layout/LoginTabRight.png);
	backgound-repeat: no-repeat;
	height:29px;
	width:10px;
	float:left;
}

.loginBackground
{
	min-height:100px;
	padding:;
	/* For Webkit (Safari, Google Chrom, etc.)*/
	background: -webkit-gradient(linear,left top, left bottom, from(#FFFFFF), to(#F5F5F5));
	/* For Mozilla/Geko (Firefox etc.)*/
	background: -moz-linear-gradient(top,#FFFFFF,#F5F5F5);
	/*For Internet Explorer 5.5 - 7*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F5F5F5);
	/*For Internet Explorer 8*/
	-ms-filter:" progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F5F5F5)";
}
/*END Login*/

/*new Generation Styles  2011*/
	.button {
	background: url(../images/layout/Button_Normal.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 154px;
	height: 38px;
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	color: #555555;
	text-align: center;
	padding: 0 10px 2px 10px;
	margin-left: 2px;
}

.button_blue {
	background: url(../images/layout/Button_Hover.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 154px;
	height: 38px;
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding: 0 10px 2px 10px;
	margin-left: 2px;
}

.buttonBlue {
	background: url(../images/layout/Button_Normal_Blue.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px solid #ffffff;
	width: 166px;
	height: 39px;
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	color: #555555;
	text-align: center;
	padding: 0 10px 2px 10px;
	margin-left: 2px;
}


.endLineGrey {
	border-bottom: 1px solid #888;
	padding-top: 20px; /*Abstand zu content 27px*/
}

/*END new Generation Styles  2011*/