/* ======================================================================= */
/* global layout and formatting                                            */
/* ======================================================================= */

html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

body
{
	margin: 0px;
	line-height: 14px;
	color: #555555;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	overflow: scroll;
}

img
{
	border-width: 0px;
	vertical-align: middle;
}

div.pageTop
{
	margin: auto;
	text-align: center;
	width: 100%;
	padding-top: 2px;
}

div.page
{
	width: 1001px !important; 
	text-align: left; 
	margin: auto; 
}

div.containerTop
{
	float: left;
	display: inline;
	width: 1012px;
	margin-left: 0px;
}

div.container
{
	float: left; 
	display: inline;
	width: 720px;
	padding-bottom: 50px; 
	vertical-align: top;
	padding-left: 5px; 
}

/* ======================================================================= */
/* content area on the page                                                */
/* ======================================================================= */
div.contentarea
{
	float: left;
	position: relative;
	display: inline;
	width: 685px;
	padding-bottom: 14px;
	vertical-align: top;
}

/* ======================================================================= */
/* links                                                                   */
/* ======================================================================= */
a, a:link, a:visited, a:active, a:hover
{
	margin-right: 0px;  
	
	color: #555555;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

a:hover
{
	color: #11aaff;
}

a.parent, a.parent:link, a.parent:visited, a.parent:active, a.parent:hover
{
	line-height: 16px;
	font-size: 14px;
	color: #555555;
}

a.parent:hover
{
	color: #11aaff;
	text-decoration: none;
}

a.child, a.child:link, a.child:visited, a.child:active, a.child:hover
{
	background: url(../images/layout/ArrowBlue.gif) no-repeat left;	
	color: #555555;
	padding-left: 6px;
}

a.child:hover
{
	color: #11aaff;
	text-decoration: none;
}

a.participation, a.participation:link, a.participation:visited, a.participation:active, a.participation:hover
{
	color: #555555;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

a.participation:hover
{
	color: #11aaff;
}


/* ======================================================================= */
/* Vertical divider lines                                                  */
/* ======================================================================= */
div.dividerLeft
{
	float: left;
	width: 15px;
}

div.dividerLeftTop
{
	height: 80px;
	background: transparent url(../images/layout/SeparatorbarLeftTop.gif) no-repeat scroll right top;
}

div.dividerLeftMiddle
{
	background: transparent url(../images/layout/SeparatorbarLeftMiddle.gif) repeat-y scroll right top;
}

div.dividerLeftBottom
{
	height: 50px;
	background: transparent url(../images/layout/SeparatorbarLeftBottom.gif) no-repeat scroll right top;
}

div.dividerRight
{
	float: left;
	width: 8px;
}

div.dividerRightTop
{
	height: 80px;
	background: transparent url(../images/layout/SeparatorbarRightTop.gif) no-repeat scroll left top;
}

div.dividerRightMiddle
{
	background: transparent url(../images/layout/SeparatorbarRightMiddle.gif) repeat-y scroll left top;
}

div.dividerRightBottom
{
	height: 50px;
	background: transparent url(../images/layout/SeparatorbarRightBottom.gif) no-repeat scroll left top;
}


/* ======================================================================= */
/* header                                                                  */
/* ======================================================================= */
div.header
{
	height: 147px;
	background: url(../images/layout/HeaderBackground.gif) no-repeat;  
	margin-left: 0px; 
	width: 1001px; 
	margin-bottom: 0px; 
	padding-left: 0px; 
}

#printLogo {
	display: none;
}

div.headerLogo
{
	float: left;
	position: relative;

	padding-left: 53px;
	padding-bottom: 12px; 
	width: 130px;
	height: 76px; 

	margin-top: 15px;  
	margin-left: 8px; 
}

div.headerContent
{
	float: left;
	position: relative;
	width: 978px;
	text-align: right; 
	margin-top: 10px; 
}

div.headerLinks span.languageSpacer
{
	margin-left: 6px;
}

div.headerLinks span.spacer
{
	padding-left: 8px; /*Abweichung von DemoPage, beibehalten! auf Prod wird diese Class anders dargestellt*/
}

a.language, a.language:link, a.language:visited, a.language:active, a.language:hover
{
	color: #11aaff;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	margin-left: 4px;
}

a.language:hover
{
	color: #11aaff;
	margin-left: 4px;
}

a.languageActive, a.languageActive:link, a.languageActive:visited, a.languageActive:active, a.languageActive:hover
{
	color: #001155;
	text-decoration: none;
	margin-left: 4px;
}


div.headerWelcome
{
	float: left;
	padding-left: 108px;
	height: 30px; 
}

/* ======================================================================= */
/* footer                                                                  */
/* ======================================================================= */

div.footer
{
	clear: both;
	float: none;
	position: relative;

	width: 892px !important; 
	margin-left: 100px; 
	border-top: solid 1px #bbbbbb;
	padding-top: 10px;
	height: 20px;
}

div.copyright
{
	float: left;
	vertical-align: middle;
	padding-bottom: 3px;
}

div.participation
{
	float: right;
	vertical-align: middle;
}


/* ======================================================================= */
/* navigation                                                              */
/* ======================================================================= */
div.navigation
{
	float: left; 
	display: inline;
	margin-left: 107px;
	width: 180px; 
}

div.navigation div.home
{
	margin-left: 8px; /*Abweichung von DemoPage beibehalten! auf Prod wird diese Class anderst dargestellt*/
	padding-top: 6px; 
	height: 18px;
	width: 100 %;
	text-align: left;
	margin-bottom: 2px;
}

div.navigation div.separator
{
	padding: 0px;

	border-top: solid 1px #bbbbbb;
	line-height: 0px;
	height: 0px;
}

div.navigation div.spacersmall
{
  margin: 4px;
}

div.navigation div.spacer
{
  margin: 14px;
}

div.navigation div.spacerwide
{
  margin: 21px;
}

 .level1
{
	margin-left: 0px;
}

.level2
{
	margin-left: 10px;
}

.level3
{	
	margin-left: 20px;
}

.level4
{	
	margin-left: 30px;
}

.level5
{	
	margin-left: 40px;
}

a.navigation, a.navigation:link, a.navigation:visited, a.navigation:active, a.navigation:hover
{
	display: block;

	color: #555555;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	
	margin-top: -2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -2px;
	zoom: 1;
}

a.navigation:hover
{
	color: #11aaff;
}

div.navigation a.open
{
	padding-left: 9px;

	background-image: url(../images/layout/ArrowBlueDown.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
}

div.navigation a.openselected, a.openselected:link, a.openselected:visited, a.openselected:active, a.openselected:hover 
{
	padding-left: 9px;
	color: #001155;
	background-image: url(../images/layout/ArrowBlackDown.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
}        

div.navigation a.closed
{
	padding-left: 10px;
	background-image: url(../images/layout/ArrowBlue.gif);
	background-repeat: no-repeat;
	background-position: 1px 5px;
}

div.navigation a.selected, a.selected , a.selected:link, a.selected:visited, a.selected:active, a.selected:hover 
{
	padding-left: 10px;
	color: #001155;
	background-image: url(../images/layout/ArrowBlack.gif);
	background-repeat: no-repeat;
	background-position: 1px 5px;
}
