{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Project List{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Project_code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('SwisscomMatrixConfigBundle_project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.projectcode }}</td>
            <td>{{ entity.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('SwisscomMatrixConfigBundle_project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('SwisscomMatrixConfigBundle_project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_project_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}