{% extends 'SwisscomMatrixConfigBundle:Template:SwisscomTemplate.html.twig' %}
{% block title %}Create a new Project{{ entity.projectcode }}{% endblock %}

{% block content %}

<form action="{{ path('SwisscomMatrixConfigBundle_project_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('SwisscomMatrixConfigBundle_project') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}