@charset "utf-8";
/**
 * @author		tfuhlroth
 * @copyright	Notch Interactive
 */

/*##################################################|*/
/* #BASICS# */

#swisscom-kundencenter-layer-wrapper { display : none; }
#swisscom-kundencenter-layer-container {
	position : absolute; left : 50%; top : 78px; z-index : 10000;
	width : 720px; height : 592px; margin-left : -210px;
}
.ie #swisscom-kundencenter-layer-container { margin-left : -214px; }