<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>SBC Matrix ConfigGen - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ asset('bundles/swisscommatrixconfig/css/layout.css')}}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/swisscommatrixconfig/css/content.css')}}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/swisscommatrixconfig/css/print.css')}}" type="text/css"
	media="print">
<meta http-equiv="pragma" content="no-cache"><script
	language="javascript">
	  function openBrWindow1(theURL,winName,features) { 
	    window.open(theURL,winName,features);
	  }
	 </script><script type="text/javascript">
	    function adjustDividerHeight() {
	    
	      var navigation = document.getElementById('navigation');
	      var container = document.getElementById('container');
	      
	      var height = Math.max(navigation.offsetHeight, container.offsetHeight) -130;

	      var divider = document.getElementById('dividerLeft');
	      if( divider != null) {
	        divider.style.height = height + "px";
	      }
	      
	      divider = document.getElementById('dividerRight');
	      if( divider != null) {
	        divider.style.height = height + "px";
	      }
	    }
	</script>
</head>
<body onLoad="document.login.username.focus()">
<div class="pageTop">
<div id="printLogo"><img alt="" src="{{ asset('bundles/swisscommatrixconfig/images/layout/ScLogo.gif') }}"></div>
<div class="page">
<div class="header">
<div class="headerContent" id="headerContent">
<div class="headerWelcome">&nbsp;</div>
<div class="headerLinks"></div>
</div>
<div class="headerLogo" id="headerLogo"><a target="_blank"
	href="http://www.swisscom.com/GHQ/content?lang=en"><img
	src="{{ asset('bundles/swisscommatrixconfig/images/layout/Primary_Loop_Small.gif') }}" alt="Swisscom" width="100"
	height="75" border="0"></a></div>
</div>
<div class="containerTop">
<div id="navigation" class="navigation">
<div class="home"><a class="parent" href="{{ path('SwisscomMatrixConfigBundle_homepage')}}">
Home <img src="{{ asset('bundles/swisscommatrixconfig/images/layout/ArrowRoundRight.gif')}}" alt="" width="14"
	height="14" border="0" hspace="2"></a></div>
<div class="separator"></div>
<div class="spacersmall"></div>
<!-- Menu -->
 <div>
  <a class="textArrow" href="#">Create a config</a><br/><br/>
  ------- Admin  -------
 <br /><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_project')}}">Project </a><br/><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_connection_type')}}">Type of connections </a><br /><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_config_store')}}">Configuration store </a><br /><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_config_template')}}">Configuration Template </a><br /><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_parameters_form')}}">Parameters Form </a><br /><br/>
   <a class="textArrow" href="{{ path('SwisscomMatrixConfigBundle_loopback')}}">Loopback </a><br /><br/>

      <br />
</div>
<!-- End of Menu -->


<div class="spacerwide"></div>
</div>
<div id="container" class="container">
<div class="dividerLeft">
<div class="dividerLeftTop"></div>
<div id="dividerLeft" class="dividerLeftMiddle"></div>
<div class="dividerLeftBottom"></div>
</div>
<div class="contentarea" id="expand">
<div style="padding-top: 26px;" id="tour-promotional"><img alt=""
	width="685" height="203" border="0"
	src="{{ asset('bundles/swisscommatrixconfig/images/layout/KuCeLogin_Header_e.jpg') }}"></div>

<div class="loginBar">
<div class="LoginTabSelected">{{ block('title') }}</div>
<div class="LoginTabImageRight"></div>
</div>
<br></br>
<!-- Content -->
      {% block content %}
      {% endblock %}
<!-- End of Content -->
<div class="dividerRight">
<div class="dividerRightTop"></div>
<div id="dividerRight" class="dividerRightMiddle"></div>
<div class="dividerRightBottom"></div>
</div>
</div>
</div>
<div class="footer">
<div class="copyright">Swisscom
Broadcast&nbsp;(Switzerland)&nbsp;Ltd.&nbsp;| <a
	href="www.swisscom.ch/SBC/content?lang=en" target="_blank">
www.swisscom.ch/SBC </a></div>
</div>
</div>
</div>
<script type="text/javascript">adjustDividerHeight();</script>
</body>
</html>
